*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body{
}
.navigation{
	width: 100%;
	height: 70px;
	background-color: red;
	display: flex;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
	border-radius:10px ;
	position: fixed;
	z-index: 2;
}
.navigation ul
{
	display: flex;
	width: 350px;
}
.navigation ul li{
	position: relative;
	list-style: none;
	padding: 0 70px;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.navigation ul li a{
	position: relative;
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 100%;
	font-weight: 500;
}
.navigation ul li a .icon{
	position: relative;
	display: block;
	color: white;
	line-height: 75px;
	font-size: 1.5em;

}
.navigation ul li.active a .icon{
	transform: translateY(-35px);
}
.navigation ul li a .text{
	color: white;
	position: absolute;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(15px);
}
.navigation ul li.active a .text{
	opacity: 1;
	transform: translateY(10px);
}
.navigation .tron{
	position: absolute;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	top: -38px;
	left: 20px;
	border: 5px solid #303841;
	background-color: #2AFB5A;
}
.tren{
	width: 100%;
	height: 90px;
	position: fixed;
	background-color: #303841;
	z-index: 1;
}
:root
{
	--backhg: transparent;
}
.tron::before {
	content: "";
	position: absolute;
	top: 33px;
	left: -20px;
	width: 20px;
	height: 20px;
	border-top-right-radius:20px ;
	background-color: transparent;
	box-shadow: 0px -10px 0 0 var(--backhg);
}
.slider>img{
	position: relative;
	border-radius: 10px;
	border: 2px solid red;
}
.slider>.chu{
	position: absolute;
	top: 350px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	animation-name: xuong;
	animation-duration: 2s;

}
.slider{
	background-color: #303841;
}
@keyframes xuong
{
	from {
		opacity: 0;
		top: 300px;
	}
	to{
		opacity: 1;
		top: 350px;
	}
}
.tron::after {
	content: "";
	position: absolute;
	top: 33px;
	right: -20px;
	width: 20px;
	height: 20px;
	border-top-left-radius:20px ;
	background-color: transparent;
	box-shadow: 0px -10px 0 0 var(--backhg);
}
.navigation ul li:nth-child(1).active ~ .tron{
	transform: translateX(calc(598px*1));}
.navigation ul li:nth-child(2).active~.tron{
	transform: translateX(calc(140px*1 + 599px));
}
.navigation ul li:nth-child(3).active~.tron{
	transform: translateX(calc(140px*2 + 599px));
}
.navigation ul li:nth-child(4).active~.tron{
	transform: translateX(calc(140px*3 + 599px));
}
.navigation ul li:nth-child(5).active~.tron{
	transform: translateX(calc(140px*4 + 599px));
}
.navigation ul li:nth-child(6).active~.tron{
	transform: translateX(calc(140px*5 + 599px));
}
.slider>img{
	margin-left: 200px;
	margin-top: 200px;
	}
.anh>img
{
	width: 260px;
	height: 350px;
	border-radius: 10px;
	border: 3px solid blue;
}
.anh:nth-child(1)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 1s;
}
.anh:nth-child(2)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 1.5s;
}
.anh:nth-child(3)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 2s;
}
.anh:nth-child(4)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 2.5s;
}
.anh:nth-child(5)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 3s;
}
.anh:nth-child(6)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 3.5s;
}
.anh:nth-child(7)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 4s;
}
.anh:nth-child(8)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 4.5s;
}
.anh:nth-child(9)
{
	width: 30%;
	height: 350px;
	position: relative;
	float: left;
	top: 50px;
	margin: 20px;
	box-sizing: border-box;
	animation-name: len;
	animation-duration: 5s;
}
div.chu{
	position: absolute;
	bottom: 50px;
	left: 25%;
	color: white;
	font-weight: 500px;
	font-size: 30px;
	transform: translateX(-25%);

}
.icon
{
	position: absolute;
	bottom: 5%;

}
.iconphim{
 color: red;
 padding: 0px 30px;
font-size: 20px;
}
@keyframes len
{
	from{top: -10px}
	to{top: 50px;}
}
.luoi{
width: calc(100% - 300pxpx);
height: 1500px;
padding-left: 200px;
background-color:#303841 ;
}
.title h2{
	padding: 50px 100px;
color: white; 
	background-color:#303841;
display: block; }

